[data-md-color-scheme="university"] {
  --md-primary-fg-color:        #858585;
  --md-code-hl-number-color:    #858585;
  --md-accent-fg-color:         #858585;
  --md-primary-fg-color--light: #858585;
  --md-primary-fg-color--dark:  #858585;
}
